<html>
<head>
	<title>alluser</title>
	<style>
  table{  
            border: 10px solid blue;         
  	       	height:400px;
  	  	    width:400px;
  	  	    margin-left: 420px
  	            }  
  	         th{
  	         	text-align: left;
  	            }
  	    </style>        
</head>
<body>
	<table>
		<caption>alluser</caption>
		<tr>
			<th><%= sortable "name" %></th>
			<th><%= sortable "city" %></th>
			<th><%= sortable "gender" %></th>
		</tr>
		<%   @user.each do |i| %>
       <tr>
         <td><%= i.name%></td>
         <td><%= i.city%></td>
         <td><%= i.gender%><br></td>
       </tr>   
     <% end %>  
    </table> <br><br>  
    
    </body>
</html>    	
