<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "name:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("search") %>
<% end %>



<html>
<head>
	<title>alluser</title>
	<style>
  table{  
            border: 10px solid blue;         
  	       	height:400px;
  	  	    width:400px;
  	  	    margin-left: 420px
  	            }  
  	         th{
  	         	text-align: left;
  	            }
  	    </style>        
</head>
<body>
	<table>
		<caption>alluser</caption>
		<tr>
			<th><%= sortable "name" %></th>
			<th><%= sortable "city" %></th>
			<th><%= sortable "gender" %></th>
		</tr>
		
       <tr>
         <td><%= @user.name%></td>
         <td><%= @user.city%></td>
         <td><%= @user.gender%><br></td>
       </tr>   
      
    </table> <br><br>  
    
    </body>
</html>    	
