
<%= form_for @employee, url: {action: "create"}, html: {class: "employee"} do |f| %>
  <lable for="name">name</label>
  <%= f.text_field :name %>
  <label for="address">address</label>
  <%= f.text_field :address %>
  <%= f.submit "Create" %>
<% end %>


<!--<%= form_for @employee, url: {action: "delete"}, html: {class: "employee"} do |f| %>
  <lable for="name">name</label>
  <%= f.text_field :name %>
  <label for="address">address</label>
  <%= f.text_field :address %>
  <%= f.submit "delete" %>
<% end %> -->


<!--<%= form_for @employee, url: {action: "edit"}, html: {class: "employee"} do |f| %>
  
  <%= f.hidden_field :id  %>
  <%= f.submit "edit" %>
<% end %>-->



