<%=  form_for @employee, url: {action: "updateddata"},html: {class: "emp"} do |e| %>
<lable for="id">name</label>
  <%= e.text_field :name%>
  <lable for="id">address</label>
  <%= e.text_field :address%>
  <lable for="id">gender</label>
  <%= e.text_field :gender%>
  <%= e.submit "updateddata" %>
<% end %> 
